body{
    padding: 0;
    margin: 0;
    background-color: black;
}

#container{
    height: 700px;
    width: 100%;
    background-image:url("images/opaco.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*#card {\
    margin: 0;
    padding: 0;
    height: 700px;
}*/ 

#titulo{
    color: white;
    font-size: 120px;
    margin: 0;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
    position: relative;
    padding-top: 15%;
    display: flex;

    align-items: center;
    justify-content: center;
}

#trio {
    font-family: futura;
    font-weight: bold;

}

#pifio {
    font-family: futuraFino;
    font-weight: lighter;
}

#sub{
    color: white;
    font-family: futuraFino;
    font-size: 15px;
    font-weight: 600;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
    position: relative;
    bottom: 35px;
    text-align: center;

}

@font-face {
    font-family: gotico;
    font-style:normal;
    font-weight: normal;
    src: url(/triopifio/fonts/GOTHIC.woff);
}

@font-face {
    font-family: futura;
    font-style:normal;
    font-weight: normal;
    src: url(triopifio/fonts/FuturaPTBook.woff);
}

@font-face {
    font-family: futuraFino;
    font-style:normal;
    font-weight: normal;
    src: url(triopifio/fonts/FuturaThin.woff);
}

.card_servicos{
    background-color: black;
    margin: auto;
    position: relative;
    width: 1000px;
    top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;

}

.quadrado{
    background-color: rgb(255, 255, 255);
    height: 400px;
    width: 300px;
    padding: 20px;
    position: relative;
    border: 10px solid black;
}

.quadrado img{
    position: relative;
    bottom: 80px;
    display: block;
    margin: auto;
}

.quadrado h1{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 1.7em;
    font-family: futura;
    position: relative;
    bottom: 90px;
}

.quadrado p{

    font-family: gotico;
    font-size: 1.05em;

    position: relative;
    bottom: 95px;
    text-align: center;
}

button {
    margin: auto;
    position: absolute;
    bottom: 40px;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: block;
}

button{
    border-radius: 5px;
    font-size:1.1em;
    width: 180px;
    height: 45px;
    border: none;
    font-family: futuraFino;
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: #000000;
    
    transition-property: all;
    transition-duration: 500ms;
}

button:hover{
    width: 190px;
    height: 48px;
}

.dois img{
    position: relative;
    right: 15px;
}
